/* clean default setting of element in browser. */
*{
    margin: 0;
    padding: 0;
}
/* design font-size */
body{
    font-size: 13px;
    background-color: #f2f2f0;
}
/* clean default style of list */
ul{
    list-style-type: none;
}
/* clean  underline of hyperline*/
a{
    text-decoration: none;
    color: #e8f5ec;
}
/* focus color */
.focus{
    color:#b8eaee !important;
}
/* image of AD */
.adimg{
    margin-top: 75px;
    margin-bottom: 20px;
    width: 100%;
}
.adimg>img{
    width: 100%;
}
/* navigation style */
#nav{
    width: 100%;
    position: fixed;
    border: solid 0px red;
    top: 0;
    left: 0;
    background-color: #555;
    z-index: 1;
}
#nav>.box{
    overflow: hidden;
    width: 960px;
    padding: 24px 0px;
    margin: 0 auto;
    border: solid 0px blue;
}
#nav>.box>.title{
    float: left;
    margin-right: 70px;
}
#nav>.box>.title>h3{
    color: #b8eaee;
    font-size: 20px;
}
#nav>.box>.list{
    float: left;
}
#nav>.box>.list>ul{
    float: left;
}
#nav>.box>.list>ul>li{
    float: left;
    margin-right: 30px;
    color: #e8f5ec;
}
#nav>.box>.regAndLog{
    float: right;
}
#nav>.box>.regAndLog>a{
    margin-right: 10px;
}

/* longin page */
#login{

}
#login>img{
    width: 100%;
    position: fixed;
    opacity: .5;
}

/* login dialog */
#log{
    position: absolute;
    width: 410px;
    height: 375px;
    border: 0px solid red;
    left: 50%;
    top: 20%;
    margin-left: -225px;
    z-index: 9999;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #666;
}
#log>.title{
    text-align: center;
    padding: 20px 0px 60px 0px;
    border-bottom: solid 1px #ccc;
}
#log>.title>h3{
    font-size: 24px;
}
#log>.tip{
    margin: 32px 0px 10px 28px;
}
#log>.item{
    margin-top: 8px;
}
#log>.item>input{
    margin-left: 28px;
    width: 280px;
    padding: 8px;
    border-radius: 3px;
    outline: none;
    border: solid 1px #ccc;
}
#log>.error{
    margin: 10px 28px;
    color: red;
    display: none;
}
#log>.btn{
    margin-top: 20px;
}
#log>.btn>input{
    margin-left: 28px;
    width: 70px;
    padding: 8px 0;
    border: none;
    background-color: #ccc;
    border-radius: 3px;
}
#log>.btn>input:hover{
    background-color: #666;
    color: white;
}

/* atcList page */
/* top */
#atcList,#myAlbum{
    width: 960px;
    margin: 0 auto;
    border: solid 0px red;
}
#atcList>.top,#myAlbum>.top{
    border-bottom: solid 1px #ccc;
    overflow: hidden;
}
#atcList>.top>.tleft,#myAlbum>.top>.tleft{
    float: left;
    background-color: black;
    color: white;
    padding: 10px 15px;
}
#atcList>.top>.tright,#myAlbum>.top>.tright{
    padding-top: 15px;
    float: right;
}
/* body */
#atcList>.body{
    overflow: hidden;
    border: solid 0px blue;
}
#atcList>.body>.lst{
    float: left;
}
#atcList>.body>.lst>.item{
    border: solid 0px green;
    background-color: white;
    padding: 12px 15px 20px 15px;
    margin-top: 20px;
}
#atcList>.body>.lst>.item>.title{
    margin-bottom: 8px;
}
#atcList>.body>.lst>.item>.content{
    overflow: hidden;
}
#atcList>.body>.lst>.item>.content>.cleft{
    width: 210px;
    float: left;
}
#atcList>.body>.lst>.item>.content>.cright{
    width: 370px;
    float: left;
    padding: 15px 0px 15px 15px;
}
#atcList>.body>.lst>.item>.content>.cleft>img{
    width: 100%;
}
#atcList>.body>.lst>.item>.content>.cright>.pbottom{
    margin-top: 26px;
    font-size: 11px;
}
#atcList>.body>.ad{
    float: right;
    margin-top: 20px;
    background-color: white;
    padding: 20px 15px;
}

#atcList>.body>.ad>.adtitle>.line{
    border-bottom: solid 2px black;
    width: 30px;
}
#atcList>.body>.ad>.imglst>ul>li{
    margin-top: 20px;
    width: 275px;

}
#atcList>.body>.ad>.imglst>ul>li>img{
    width: 100%;
}
/* my album */
#myAlbum>.item{
    float: left;
    border: solid 0px red;
    margin: 20px 6px 20px 6px;
}
#myAlbum>.item>.img{
    width: 226px;
    height: 150px;
    position: relative;
}
#myAlbum>.item>.img>img{
    width: 100%;
    height: 100%;
}
#myAlbum>.item>.img>.tip{
    background-color: #cc0138;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    border-radius: 3px;
}
#myAlbum>.item>.title{
    height: 45px;
    padding: 10px 15px;
    background-color: white;
}